@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

.logo
{height: 67px;
width: 80px;
}
.navbar 
{background: #FFDEAD;
}
.col-md-12
{background: #ffe0ec;
}
.col-md-3
{background: #ffe0ec;
padding:3%;
}
.col-md-4
{background: #ffe0ec;
padding:3%;
}
.col-md-5
{background: #ffe0ec;
padding:3%;
}
.textnav
{
	font-size: 18px;
	font-family: "Lora";
}
.dropdown-item
{
	font-size: 15px;
	font-family: "Lora";
}
.fon1{
	background-image: url(fon1.jpg);
	color: white;
	font-size: 50px;
	font-family: "Abril Fatface";
	padding-left:28%;
	padding-bottom:5%;
}
.work
{
	padding-left:12%;
	font-size: 25px;
	font-family: "Libre Baskerville";
}
.work2
{
	padding-left:12%;
	font-size: 20px;
	font-family: "Source Serif Pro";
}
.pin{
	background: #e0ffe4;
	color: black;
	border-radius: 5px; 
	font-size: 18px;
}
.symbol{    
    width: 70px;
    height:70px;
    transition: 2s;
	position: absolute;
    float:left;
	left:71%

}
.symb{
	position: absolute;
    float:left;
	left:77%;}

.symbol:hover {
    transform: rotate(360deg);
 }

