@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap');

html,body{
	height: 100%;
	background: linear-gradient(45deg, rgb(0, 255, 127), rgb(86, 181, 184));
	margin:0;
}
.divParent{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.headline{
	font-family: "Bebas Neue";
	color: #7CFC00;
	font-size:35px;
	text-align: center;
	margin:1.5%;
}
.nameComputer{
	font-size:45px;
	color: green;
	margin-left: 200%;
	margin-top: -121%;
	font-size:32px;	
	font-family: "El Messiri";	
}
.nameUser{
	margin-left: -35%;
	margin-bottom:1%;
}

#userName{
	font-size:45px;
	color: #FFD700;
	margin-left: 5%;
	font-size:32px;	
	margin-bottom:1%;
	font-family: "El Messiri";	
}

button{
	font-size:20px;
	color: blue;
	margin-left: -5%;
	font-size:25px;	
	margin-bottom:1%;
	height:50px;	
	width:100px;
	font-family: "El Messiri";
	border-radius: 35%;
	background: #FFD700;
}
.score{
	font-size:31px;
	color: green;
	background:rgba(92, 214, 99, 0.8);
	margin-top: -3%;
	font-family: "El Messiri";
}

#myScore{
	font-size:40px;
	color: #006400;	
	margin-left: -3%;
	margin-top: 1%;
}
#computerScore{
	font-size:40px;
	color: #006400;	
	margin-left: 3.5%;
	margin-top: -3%;
}
#pointMy{
	font-size:40px;
	background: #5cd663;	
	text-align:center;
	vertical-align:center;
	margin-left: -37%;
	margin-top: -13%;
	height:120px;
	width:120px;	
	border-radius: 40%;
}
#pointComp{
	font-size:40px;
	background: #5cd663;	
	text-align:center;
	vertical-align:center;
	margin-left: 35%;
	margin-top: -8%;
	height:120px;
	width:120px;	
	border-radius: 40%;
}

.result{
	background: red;	
	font-size:25px;	
	font-family: "Bebas Neue";
	text-align: center;
	height:100px;	
	width:160px;
	color: yellow;
	margin-left: -5%;
	margin-top: -4%;
	border-radius: 10px;
}

.reset{
	font-size:20px;
	color: blue;
	margin-left: -5%;
	font-size:25px;	
	margin-bottom:1%;
	height:50px;	
	width:100px;
}

