@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

.logo
{height: 67px;
width: 80px;
}
.navbar 
{background: #FFDEAD;
}
.col-md-12
{background: #FFEFD5;
}
.textnav
{
	font-size: 18px;
	font-family: "Lora";
}
.dropdown-item
{
	font-size: 15px;
	font-family: "Lora";
}
/*у всех должно быть !*/