@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@300&display=swap');

.logo{	
	height: 67px;
	width: 80px;
}
.navbar 
{	background: #FFDEAD;}
.col-md-12
{	background: #FFEFD5;}
.textnav{
	font-size: 18px;
	font-family: "Lora";
}
.dropdown-item{
	font-size: 15px;
	font-family: "Lora";
}
.col-md-6
{	background: #ffe4e0;}
.col-md-7
{	background: #ffe4e0;}
.col-md-5
{	background: #ffe4e0;}
.carousel{
	width: 86%;
	margin-left:6%;
}
.name{
	font-size: 55px;
	font-family: "Crimson Text";
	margin-left: 10%;
}
.name2{
	font-size: 25px;
	font-family: "Designed by Indian Type Foundry";
	margin-left: 27%;
}
.info{
	background-image: url(fon2.jpg);
	color: black;
	font-size: 24px;
	padding: 3%;
	font-family: "Designed by Indian Type Foundry";
}
.vid
{	width: 80%;}
.gap
{	color: #ffe4e0;}
.slogan
{	margin-left:8%; }
.line{	
	font-size: 24px;
	font-family: "Be Vietnam";
	color:#cc333f;
	margin-bottom: 5%;
}
