@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

html,body{
    height: 100%;
    background: #E6E6FA;
    margin:0;
}
.divParent{
    display: flex;
    flex-direction: column;
    align-items: center;
	height: 100%;
}
.headline
{
	display: flex;
    flex-direction: row;
	color: #DA70D6;
	font-size: 26px;
	margin-left: 2%;
	margin-bottom: 2%;
	font-family: "Oswald";
}
.link{
	display: flex;
    flex-direction: row;	
		margin-bottom: 1%;
}
a{
	color: #9400D3;
	font-size: 20px;
	margin-bottom: 1%;
	font-family: "EB Garamond";
	
}
.card{
	display: flex;
    flex-direction: row;
	background: #9370DB;
	height:45%;
	width: 35%;	
	border-radius: 20px;
	box-shadow: 12px 12px 2px 1px rgba(208, 195, 232, 0.5);
}
#word{
	display: flex;
    flex-direction: row;
	font-size: 60px;
	padding-left: 30%;
	padding-top: 21%;
}
button{
	background: #6A5ACD;
	font-size: 20px;
	margin-top: 2%;
	margin-left: 2%;
	font-family: "Oswald";
	border-radius: 10px;
	height: 6%;
}
input{
	height:120%;
	width: 130%;
	border-radius: 5px;
	margin-top: 10%;	
}
.numWord{
	margin-top: 1%;	
	font-size: 20px;	
}
.score{
	display: flex;
    flex-direction: row;
	width: 60%;
}
#minus{
	margin-left: 30%;	
	font-size: 20px;
}

#plus{
	margin-left: 15%;
	font-size: 20px;	
}
#modal{
	
	height:100%;
	width:100%;
	position:fixed;
	display:none;
	background: rgba(0,0,0,0.5);
	
}


